
@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    color: #2D5781;
}
p {
    font-family: 'Pontano Sans', sans-serif;
    color: #494F55;
    font-size: 20px;
}
ul {
    font-family: 'Pontano Sans', sans-serif;
    color: #494F55;
    font-size: 20px;
}

.padding25{
    padding-bottom: 25px;
}
.padding50 {
    padding-bottom: 50px;
}
.padding75 {
    padding-bottom: 75px;
}
.padding100 {
    padding-bottom: 125px;
}
.padding200 {
    padding-bottom: 225px;
}
.img100{
    width: 100%;
    height: auto;
}
.img80{
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
}
.img60{
    width: 60%;
    height: auto;
    margin-left: 20%;
    margin-right: 20%;
}
.img50{
    width: 50%;
    height: auto;
    margin-left: 25%;
    margin-right: 25%;
}
.img40{
    width: 40%;
    height: auto;
    margin-left: 30%;
    margin-right: 30%;
}

.drop-shadow {
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(143, 167, 189, 0.7));
}

.textWhite {
    color: white;
}

.customNavText {
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    color: #494F55;
}

.customSectionTitle {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    color: #2D5781;
    font-size: 25px;
}
.customSectionTitleGrey {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    color: #494F55;
    font-size: 25px;
    padding-bottom: 75px;
}

.customBold {
    font-family: 'Dosis', sans-serif;
    font-weight:600;
    color: #494F55;
    font-size: 22px;
}

.customList {
    font-family: 'Pontano Sans', sans-serif;
    color: #494F55;
    font-size: 20px;
}

.smallDescription {
    font-family: 'Pontano Sans', sans-serif;
    color: #494F55;
    font-size: 16px;
} 

.sectionWhite {
    background-color: white;
    width: 100%;
    /* height: 800px; */
    padding-left: 8%;
    padding-right: 8%;
}
.sectionBlue{
    background-color: #E2E8EE;
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 75px;
}
.sectionGreen{
    background-color: #A6CD71;
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 75px;
}

.blueBackground {
    background-color: #E2E8EE;
    border-radius: 30px;
    padding: 30px;
}
.greyBackground {
    background-color: #EFF1F3;
    border-radius: 30px;
    padding: 20px;
}
.whiteBackground {
    background-color: #ffffff;
    border-radius: 30px;
    padding: 30px;
}

.pollutantTitle{
    text-align: center;
    font-family: 'Pontano Sans', sans-serif;
    /* font-weight: 600; */
    font-size: 23px;
    /* text-decoration: underline; */
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 7%;
    margin-right: 7%;
}

.purple {
    color: #644195;
    background-color: #E3D9E9;
    border-radius: 15px;

}
.orange {
    color: #EF8532;
    background-color: #F9DFBD;
    border-radius: 15px;
}
.red {
    color: #D0352B;
    background-color: #F6CFCD;
    border-radius: 15px;
    padding: 10px;

}
.green {
    color: #549D3F;
    background-color: #DDEEC9;
    border-radius: 15px;
}
.blue {
    color: #3B77AF;
    background-color: #D7E6F0;
    border-radius: 15px;
    padding: 10px;
}
.grey {
    color: #818181;
    background-color: #C0C0C0;
    border-radius: 15px;
}

.diseaseDescription {
    font-size: 16px;
}

#introduction {
    width: 100%;
    height: 500px;
}
#projectTitle {
    color: #2D5781;
    font-size: 35px;
}
#projectSubTitle {
    font-family: 'Pontano Sans', sans-serif;    
    font-size: 20px;
    color: #494F55;
    padding-bottom: 15px;
}

#scrollArrow{
    width: 40px;
    height: auto;
    animation: bounceIconDown 2.5s ease-in infinite alternate;
    animation: bounceIcon 2s ease-out infinite alternate;
}

@keyframes bounceIcon {
    0% {
        transform: translateY(-25px);
    }
    100% {
        transform: translateY(0px);
    };
}
@keyframes bounceIconDown {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-25px);
    };
}

#deaths {
    font-size: 60px;
    height: 60px;
    animation: expandWord 6s infinite;
}

@keyframes expandWord {
    50% {
        font-size: 55px;
    };
}


/* https://getwaves.io/ */